* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #222;
  padding-bottom: 50px;
}

.content {
  margin: 0 2rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* NAV */
.nav {
  color: #c0392b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 0 5px;
}
.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}
.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 4rem;
  margin: auto;
}
.nav.active a {
  color: #000;
}
.nav.active .container {
  padding: 10px 0;
}
.nav a.current,
.nav a:hover {
  border-bottom: 1px solid #c0392b;
}
/* hero */
.hero {
  background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 2px;
}
.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px;
}
.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1px;
}
