body {
  font-family: sans-serif;
  background: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  background: rgba(0, 0, 0, 0.4);
  padding: 1px 30px;
  border-radius: 7px;
  color: #fff;
}
.container h1 {
  text-align: center;
  margin-top: 3rem;
}
.form-control {
  margin: 4rem 2rem;
  position: relative;
}
.form-control input {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  width: 100%;
}
.form-control input:focus {
  outline: none;
  border-bottom: 2px solid lightblue;
}
.form-control label span {
  display: inline-block;
  transition: all 0.3s;
  font-weight: bold;
}
.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;

  transform: translateY(-30px);
}

.form-control .btn {
  width: 100%;
  padding: 1rem 0;
  border-radius: 10px;
  border: none;
  background: lightblue;
  font-size: 1rem;
  transition: 0.3s;
}
.form-control .btn:hover {
  background-color: lightseagreen;
}

.container a {
  text-decoration: none;
  color: lightblue;
  transition: 0.3s;
}
.container a:hover {
  color: lightseagreen;
}
