/* body {
  background: #000;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

button {
  background-color: purple;
  color: white;
  border: 1px solid purple;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 30px;
  overflow: hidden;
  margin: 10px 0;
  cursor: pointer;
  position: relative;
}
button:focus {
  outline: none;
}
button .circle {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
} */

body {
  background-color: #000;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
button {
  background: saddlebrown;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 18px;
  border: 2px solid saddlebrown;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
button .circle {
  position: absolute;
  background: white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.4s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
